# Created by .ignore support plugin (hsz.mobi)

target/
.idea/markdown-navigator.xml
.idea/markdown-navigator/

/.idea/
/highSpeedCache.iml
/hihuzi_highSpeedCache.iml
/.iml
src/main/resources/
src/test/
collectionTool.iml
